<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= title %></title>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
      <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark" />
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tagsinput@1.0.3/dist/css/bulma-tagsinput.min.css" />
      <link rel="shortcut icon" id="favicon" href="/assets/images/<%= bot.user.username.replace(/ /g, '') %>.png" type="image/x-icon">
      <meta content="<%= title %>" property="og:title" />
      <meta content="<%= bot.user.username %>, A bot that does stuff ig" property="og:description" />
      <meta content="https://cactie.smhsmh.club" property="og:url" />
      <meta content="/assets/images/<%= bot.user.username.replace(/ /g, '') %>.png" property="og:image" />
      <meta content="#000000" data-react-helmet="true" name="theme-color" />
  </head>
  <body class="has-navbar-fixed-top" style="scroll-behavior: smooth;">
    <nav class="navbar is-spaced is-fixed-top is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/assets/images/<%= bot.user.username.replace(/ /g, '') %>.png">
          <%= bot.user.username %>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbar" class="navbar-menu is-dark">
        <div class="navbar-start">
          <a class="navbar-item" href="/dashboard">
            Dashboard
          </a>
          <a class="navbar-item" href="/music">
            Music [WIP]
          </a>
          <a class="navbar-item" href="/support/discord">
            Discord Support
          </a>
          <a class="navbar-item" href="/support/guilded">
            Guilded Support
          </a>
          <a class="navbar-item" href="/tos">
            Legal
          </a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" href="/invite">
            Invite <%= bot.user.username %>
          </a>
          <% if (user) { %>
            <a class="navbar-item" href="/logout">
              <img style="width: 21px; height: 21px; border-radius:50%;" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>">
              <%= user.username %>#<%= user.discriminator %>
            </a>
          <% } else { %>
            <a class="navbar-item" href="/login">
              Login
            </a>
          <% } %>
        </div>
      </div>
    </nav>