<section class="hero is-fullheight-with-navbar is-black">
    <div class="hero-body">
      <aside class="menu">
        <div class="level">
          <div class="level-item">
            <figure class="image is-32x32">
              <img class="is-rounded" src="<%= guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}` : '/assets/images/placeholder.svg' %>">
            </figure>
          </div>
          <div class="level-item">
            <p class="menu-label">
              <%= guild.name %>
            </p>
          </div>
        </div>
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a href='/dashboard/<%= guild.id %>/general' <% if (selected == 'general') { %> class="is-active" <% } %> >General Settings</a></li>
          <li><a href='/dashboard/<%= guild.id %>/general' <% if (selected == 'general') { %> class="is-active" <% } %> >Suggestions / Polls</a></li>
          <li><a href='/dashboard/<%= guild.id %>/general' <% if (selected == 'general') { %> class="is-active" <% } %> >Boner Command</a></li>
          <li><a href='/dashboard/<%= guild.id %>/reactionroles' <% if (selected == 'reactionroles') { %> class="is-active" <% } %> >Reaction Roles</a></li>
        </ul>
        <p class="menu-label">
          Administration
        </p>
        <ul class="menu-list">
          <li><a href='/dashboard/<%= guild.id %>/logs' <% if (selected == 'logs') { %> class="is-active" <% } %> >Logging</a></li>
          <li><a href='/dashboard/<%= guild.id %>/tickets' <% if (selected == 'tickets') { %> class="is-active" <% } %> >Ticket System</a></li>
          <li><a href='/dashboard/<%= guild.id %>/admin' <% if (selected == 'admin') { %> class="is-active" <% } %> >Moderation</a></li>
        </ul>
        <form action="/settings/<%= guild.id %>" method="POST">
          <% if (selected) { %>
            <br>
            <button type="submit" class="button is-success is-outlined is-rounded">
              <i data-feather="save" style="margin-right:10px"></i>
              Save
            </button>
          <% } %>
      </aside>
          <div class="container">
            <% if (alert) { %>
              <br>
              <div class="notification is-success">
                <%= alert %>
              </div>
            <% } %>