<%- include("partials/header", { bot, user, path, title: `Admin | ${guild.name}` }) %>
<% const commands = ['awooga', 'bite', 'bonk', 'giggle', 'hug', 'kill', 'kiss', 'lick', 'mad', 'nuzzle', 'stare', 'approve', 'ban', 'clear', 'deny', 'implement', 'kick', 'mute', 'react', 'reactionroles', 'settings', 'unban', 'unmute', 'duck', 'goose', 'kitty', 'lizard', 'meerkat', 'monkey', 'puppy', 'raccoon', 'redpanda', 'snake', 'Ban Member', 'Get Raw Embed JSON', 'Get Raw Message', 'Kick Member', 'Do action on user', 'User Info', '21questions', '8ball', 'animal', 'boner', 'buttons', 'coinflip', 'instaboner', 'meme', 'rate', 'rockpaperscissors', 'tictactoe', '247', 'cleareffects', 'clearqueue', 'effect', 'eq', 'forceskip', 'join', 'leave', 'loop', 'loopqueue', 'move', 'nowplaying', 'pause', 'play', 'playtop', 'queue', 'removesong', 'resume', 'reverse', 'search', 'seek', 'shuffle', 'skip', 'sponsorblock', 'stats', 'stop', 'volume', 'blowjob', 'confused', 'cum', 'dick', 'dilf', 'femdom', 'furryporn', 'futanari', 'gay', 'hentai', 'jackoff', 'lesbian', 'milf', 'nsfwgifs', 'nudes', 'oppai', 'petite', 'pussy', 'r34', 'thick', 'thighs', 'tits', 'trap', 'yuri', 'crash', 'dm', 'eval', 'psa', 'reload', 'reloadcmds', 'reloadcontext', 'transcript', 'add', 'close', 'delete', 'forcedelete', 'open', 'remove', 'resolved', 'subticket', 'ticket', 'voiceticket', 'avatar', 'color', 'help', 'invite', 'language', 'mcstats', 'ping', 'poll', 'reactions', 'server', 'serverjar', 'suggest', 'timings', 'userinfo', 'wallpaper']; %>

<section class="hero is-fullheight-with-navbar is-black">
  <div class="hero-body">
    <div class="container">
      <% if (alert) { %>
        <div class="notification is-success">
          <%= alert %>
        </div>
      <% } %>
      <form action="/settings/<%= guild.id %>" method="POST">
        <div class="level">
          <div class="level-item">
            <figure class="image is-128x128" style="margin-right: px;">
              <img class="is-rounded" src="<%= guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}` : '/assets/images/placeholder.svg' %>">
            </figure>
          </div>
          <div class="level-item">
            <p class="title">
              <%= guild.name %>
            </p>
          </div>
          <div class="level-item">
            <div class="field is-grouped">
              <div class="control">
                <a href="/dashboard" class="button is-dark">Go Back</a>
              </div>
              <div class="control">
                <button type="submit" class="button is-success">Save</button>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs is-toggle is-toggle-rounded is-fullwidth is-large">
          <ul>
            <li>
              <a href='/dashboard/<%= guild.id %>/general'>
                General
              </a>
            </li>
            <li>
              <a href='/dashboard/<%= guild.id %>/tickets'>
                Tickets
              </a>
            </li>
            <li>
              <a href='/dashboard/<%= guild.id %>/logs'>
                Logs
              </a>
            </li>
            <li>
              <a href='/dashboard/<%= guild.id %>/reactionroles'>
                Reaction Roles
              </a>
            </li>
            <li class="is-active">
              <a>
                Admin
              </a>
            </li>
          </ul>
        </div>

        <div class="field">
          <label class="subtitle">Message Shortener</label>
          <label class="label subtitle">The amount of lines in a message to delete and send to a bin link (Setting this to 0 disables it)</label>
          <div class="control">
            <input class="input" type="number" name="msgshortener" value="<%= settings.msgshortener %>" placeholder="The message shortener value">
          </div>
        </div>
        <div class="field">
          <label class="subtitle">Disabled commands</label>
          <label class="label subtitle">Disable certain commands from the bot</label>
          <div class="control">
            <select name="disabledcmds" multiple data-type="tags" data-placeholder="The commands to disable">
              <% commands.forEach(command => { %>
                <option value="<%= command %>" <% if (settings.disabledcmds.split(',').includes(command)) {%> selected <%} else {%> <%} %>><%= command %></option>
              <% }) %>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="subtitle">DJ Role</label>
          <label class="label subtitle">The DJ feature of the bot that limits the skip/etc commands</label>
          <div class="select" style="width: 100%;">
            <select name="djrole" value="<%= settings.djrole %>" placeholder="The DJ Role" style="width: 100%;">
              <option value="false" <% if (settings.djrole === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
              <% guild.roles.cache.forEach(role => { %>
                <option value="<%= role.id %>" <% if (role.id === settings.djrole) {%> selected <%} else {%> <% } %> > <%= `@ ${role.name}` %></option>
              <% }) %>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="subtitle">Admin Role</label>
          <label class="label subtitle">The role to replace the 'Administrator' permission</label>
          <div class="select" style="width: 100%;">
            <select name="adminrole" value="<%= settings.adminrole %>" placeholder="The Admin Role" style="width: 100%;">
              <option value="false" <% if (settings.adminrole === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
              <% guild.roles.cache.forEach(role => { %>
                <option value="<%= role.id %>" <% if (role.id === settings.adminrole) {%> selected <%} else {%> <% } %> > <%= `@ ${role.name}` %></option>
              <% }) %>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="subtitle">Mute Command Mode</label>
          <label class="label subtitle">Toggles the mute/timeout command / use a mute role</label>
          <div class="select" style="width: 100%;">
            <select name="mutecmd" value="<%= settings.mutecmd %>" placeholder="The value" style="width: 100%;">
              <option value="timeout" <% if (settings.mutecmd === 'timeout') {%> selected <%} else {%> <%} %>>Use Discord's timeout feature</option>
              <% guild.roles.cache.forEach(role => { %>
                <option value="<%= role.id %>" <% if (role.id === settings.mutecmd) {%> selected <%} else {%> <% } %> > <%= `@ ${role.name}` %></option>
              <% }) %>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<%- include("partials/footer") %>