<%- include("partials/header", { bot, user, path, title: `General | ${guild.name}` }) %>

<section class="hero is-fullheight-with-navbar is-black">
  <div class="hero-body">
    <div class="container">
      <% if (alert) { %>
        <div class="notification is-success">
          <%= alert %>
        </div>
      <% } %>
      <form action="/settings/<%= guild.id %>" method="POST">
        <div class="level">
          <div class="level-item">
            <figure class="image is-128x128" style="margin-right: px;">
              <img class="is-rounded" src="<%= guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}` : '/assets/images/placeholder.svg' %>">
            </figure>
          </div>
          <div class="level-item">
            <p class="title">
              <%= guild.name %>
            </p>
          </div>
          <div class="level-item">
            <div class="field is-grouped">
              <div class="control">
                <a href="/dashboard" class="button is-dark">Go Back</a>
              </div>
              <div class="control">
                <button type="submit" class="button is-success">Save</button>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs is-toggle is-toggle-rounded is-fullwidth is-large">
          <ul>
            <li class="is-active">
              <a>
                General
              </a>
            </li>
            <li>
              <a href='/dashboard/<%= guild.id %>/tickets'>
                Tickets
              </a>
            </li>
            <li>
              <a href='/dashboard/<%= guild.id %>/logs'>
                Logs
              </a>
            </li>
            <li>
              <a href='/dashboard/<%= guild.id %>/reactionroles'>
                Reaction Roles
              </a>
            </li>
            <li>
              <a href='/dashboard/<%= guild.id %>/admin'>
                Admin
              </a>
            </li>
          </ul>
        </div>

        <div class="field">
          <label class="subtitle">Prefix</label>
          <label class="label subtitle">The bot's text command prefix</label>
          <div class="control">
            <input class="input" type="text" name="prefix" value="<%= settings.prefix %>" placeholder="Your prefix">
          </div>
        </div>
        <div class="field">
          <label class="subtitle">Max PP Size</label>
          <label class="label subtitle">Maximum pp size in boner and instaboner commands</label>
          <div class="control">
            <input class="input" type="number" name="maxppsize" value="<%= settings.maxppsize %>" placeholder="The maximum PP size to set">
          </div>
        </div>
        <div class="field">
          <label class="subtitle">Suggestion Channel</label>
          <label class="label subtitle">The channel where the bot puts suggestions in</label>
          <div class="select" style="width: 100%;">
            <select name="suggestionchannel" value="<%= settings.suggestionchannel %>" placeholder="The suggestion channel" style="width: 100%;">
              <option value="false" <% if (settings.suggestionchannel === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
              <% guild.channels.cache.forEach(channel => { %>
                <% if (channel.type != Djs.ChannelType.GuildText) return %>
                <option value="<%= channel.id %>" <% if (channel.id === settings.suggestionchannel) {%> selected <%} else {%> <% } %> > <%= `# ${channel.name}` %></option>
              <% }) %>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="subtitle">Suggestion Threads</label>
          <label class="label subtitle">Creates a thread for discussion when a suggestion is created</label>
          <div class="select" style="width: 100%;">
            <select name="suggestthreads" value="<%= settings.suggestthreads %>" placeholder="The value" style="width: 100%;">
              <option value="false" <% if (settings.suggestthreads === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
              <option value="true" <% if (settings.suggestthreads === 'true') {%> selected <%} else {%> <%} %>>Enabled</option>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="subtitle">Poll Channel</label>
          <label class="label subtitle">The channel where the bot puts polls in</label>
          <div class="select" style="width: 100%;">
            <select name="pollchannel" value="<%= settings.pollchannel %>" placeholder="The poll channel" style="width: 100%;">
              <option value="false" <% if (settings.pollchannel === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
              <% guild.channels.cache.forEach(channel => { %>
                <% if (channel.type != Djs.ChannelType.GuildText) return %>
                <option value="<%= channel.id %>" <% if (channel.id === settings.pollchannel) {%> selected <%} else {%> <% } %> > <%= `# ${channel.name}` %></option>
              <% }) %>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="subtitle">Reactions</label>
          <label class="label subtitle">Reacts with various reactions on some words</label>
          <div class="select" style="width: 100%;">
            <select name="reactions" value="<%= settings.reactions %>" placeholder="The value" style="width: 100%;">
              <option value="false" <% if (settings.reactions === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
              <option value="true" <% if (settings.reactions === 'true') {%> selected <%} else {%> <%} %>>Enabled</option>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="subtitle">Language</label>
          <label class="label subtitle">The language Cactie will use (overrides the server language)</label>
          <div class="select" style="width: 100%;">
            <select name="language" value="<%= settings.language %>" placeholder="The value" style="width: 100%;">
              <option value="false" <% if (settings.language === 'false') {%> selected <%} else {%> <%} %>>Use the server default</option>
              <option value="English" <% if (settings.language === 'English') {%> selected <%} else {%> <%} %>>English</option>
              <option value="Portuguese" <% if (settings.language === 'Portuguese') {%> selected <%} else {%> <%} %>>Portuguese</option>
              <option value="Lispuwu" <% if (settings.language === 'Lispuwu') {%> selected <%} else {%> <%} %>>Lisp UwU</option>
              <option value="Uwu" <% if (settings.language === 'Uwu') {%> selected <%} else {%> <%} %>>UwU</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<%- include("partials/footer") %>