<%- include("partials/header", { bot, user, path, title: `${bot.user.username}` }) %>

<section class="hero is-fullheight-with-navbar is-black">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img class="floating" src="/assets/images/<%= bot.user.username.replace(/ /g, '') %>.webp" style="max-width: 18rem; max-height: 18rem;">
      <p class="title">
        <%= bot.user.username %>
      </p>
      <br>
      <p class="subtitle">
        A bot that does stuff ig<br><br>
        Admin, Fun, Music, Tickets, Utilities, NSFW, Animals, and Actions!
      </p>
      <br>
      <a class="button is-primary is-outlined is-rounded" href="./dashboard" style="margin: 5px">
        <i data-feather="tool" style="margin-right: 10px"></i>
        Dashboard
      </a>
      <a class="button is-primary is-outlined is-rounded" href="./support/discord" style="margin: 5px">
        <i data-feather="help-circle" style="margin-right: 10px"></i>
        Support
      </a>
      <br>
      <a class="button is-success is-outlined is-rounded" href="./invite" style="margin: 10px">
        <i data-feather="plus" style="margin-right: 10px"></i>
        Invite <%= bot.user.username %>!
      </a>
    </div>
  </div>
</section>

<%- include("partials/footer") %>