<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<section class="hero is-fullheight-with-navbar is-dark">
  <div class="hero-body" style="background-color: <%= bot.config.color %>">
    <div class="container has-text-centered">
      <img src="/assets/images/<%= bot.user.username.replace(/ /g, '') %>.png" style="max-width: 18rem; max-height: 18rem;">
      <p class="title">
        <%= bot.user.username %>
      </p>
      <br>
      <p class="subtitle">
        A bot that does stuff ig<br><br>
        Admin, Fun, Music, Tickets, Utilities, NSFW, Animals, and Actions!
      </p>
      <br>
      <a class="button is-info" href="./dashboard">Discord Dashboard</a>
      <a class="button is-info" href="./support/discord">Discord Support</a>
      <a class="button is-info" href="./support/guilded">Guilded Support</a>
      <a class="button is-info" href="./invite">Invite <%= bot.user.username %>!</a>
    </div>
  </div>
</section>

<%- include("partials/footer") %>