<%- include("partials/header", { bot, user, path, title: `Logs | ${guild.name}` }) %>
<%- include("partials/header-dashboard", { alert, guild, selected: 'logs' }) %>

        <div class="field">
          <label class="subtitle">Join Message</label>
          <label class="label subtitle">The message when someone joins the server</label>
          <label class="label subtitle">Variables: {USER MENTION} {USER TAG}</label>
          <div class="control">
            <textarea class="textarea" type="text" name="joinmessage" value="<%= settings.joinmessage %>" placeholder="The join message, or just 'false'"></textarea>
          </div>
        </div>
        <div class="field">
          <label class="subtitle">Leave Message</label>
          <label class="label subtitle">The message when someone leaves the server</label>
          <label class="label subtitle">Variables: {USER MENTION} {USER TAG}</label>
          <div class="control">
            <textarea class="textarea" type="text" name="leavemessage" value="<%= settings.leavemessage %>" placeholder="The leave message, or just 'false'"></textarea>
          </div>
        </div>
        <div class="field">
          <label class="subtitle">Log Channel</label>
          <label class="label subtitle">The channel where the bot puts various logs in</label>
          <div class="select" style="width: 100%;">
            <select name="logchannel" value="<%= settings.logchannel %>" placeholder="The log channel" style="width: 100%;">
              <option value="false" <% if (settings.logchannel === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
              <% guild.channels.cache.forEach(channel => { %>
                <% if (channel.type != Djs.ChannelType.GuildText) return %>
                <option value="<%= channel.id %>" <% if (channel.id === settings.logchannel) {%> selected <%} else {%> <% } %> > <%= `# ${channel.name}` %></option>
              <% }) %>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="subtitle">Audit Logs</label>
          <label class="label subtitle">Logs certain events in the guild</label>
          <div class="control">
            <select name="auditlogs" multiple data-type="tags" data-placeholder="The logs to enable">
              <option value="member" <% if (settings.auditlogs.split(',').includes('member')) {%> selected <%} else {%> <%} %>>All Member-Related Logs</option>
              <option value="memberjoin" <% if (settings.auditlogs.split(',').includes('memberjoin')) {%> selected <%} else {%> <%} %>>Member Joined</option>
              <option value="memberleave" <% if (settings.auditlogs.split(',').includes('memberleave')) {%> selected <%} else {%> <%} %>>Member Left</option>
              <option value="channel" <% if (settings.auditlogs.split(',').includes('channel')) {%> selected <%} else {%> <%} %>>All Channel-Related Logs</option>
              <option value="channelcreate" <% if (settings.auditlogs.split(',').includes('channelcreate')) {%> selected <%} else {%> <%} %>>Channel Created</option>
              <option value="channeldelete" <% if (settings.auditlogs.split(',').includes('channeldelete')) {%> selected <%} else {%> <%} %>>Channel Deleted</option>
              <option value="voice" <% if (settings.auditlogs.split(',').includes('voice')) {%> selected <%} else {%> <%} %>>All Voice-Related Logs</option>
              <option value="voicejoin" <% if (settings.auditlogs.split(',').includes('voicejoin')) {%> selected <%} else {%> <%} %>>Joined Voice Channel</option>
              <option value="voiceleave" <% if (settings.auditlogs.split(',').includes('voiceleave')) {%> selected <%} else {%> <%} %>>Left Voice Channel</option>
              <option value="voicemove" <% if (settings.auditlogs.split(',').includes('voicemove')) {%> selected <%} else {%> <%} %>>Moved Voice Channels</option>
              <option value="voicedeafen" <% if (settings.auditlogs.split(',').includes('voicedeafen')) {%> selected <%} else {%> <%} %>>Voice Deafened</option>
              <option value="voicemute" <% if (settings.auditlogs.split(',').includes('voicemute')) {%> selected <%} else {%> <%} %>>Voice Muted</option>
              <option value="all" <% if (settings.auditlogs.split(',').includes('all')) {%> selected <%} else {%> <%} %>>All Logs</option>
            </select>
          </div>        
        </div>
      </form>
    </div>
  </div>
</section>

<%- include("partials/footer") %>