<%- include("partials/header", { bot, user, path, title: `General | ${guild.name}` }) %>
<%
settings.forEach(async reactionrole => {
  reactionrole.roleName = guild.roles.cache.get(reactionrole.roleId) ? guild.roles.cache.get(reactionrole.roleId).name : 'Could not get role.';
})
%>
<%- include("partials/header-dashboard", { alert, guild, selected: 'reactionroles' }) %>

        <br>
        <p class="subtitle">Current Reaction Roles</p> 
        <% settings.forEach(reactionrole => { %>
          <article class="media">
            <figure class="media-left">
              <% if (!isNaN(reactionrole.emojiId)) { %>
                <p class="image is-64x64">
                  <img src="https://cdn.discordapp.com/emojis/<%= reactionrole.emojiId %>.webp">
                </p>
              <% } else { %>
                <p class="is-size-1">
                  <%= reactionrole.emojiId %>
                </p>
              <% } %>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>@ <%= reactionrole.roleName %> (<%= reactionrole.type %>)</strong>
                  <br>
                  <% if (!reactionrole.message) { %>
                    Message deleted. Delete this reaction role and create another.
                  <% } else { %>
                    Message by <%= reactionrole.message.author.tag %>
                  <% } %>
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-reply"></i></span>
                  </a>
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                  </a>
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                  </a>
                </div>
              </nav>
            </div>
            <% if (reactionrole.message) { %>
              <div class="media-right">
                <a class="button is-primary is-outlined is-rounded" href="<%= reactionrole.message.url %>">Go to message</a>
              </div>
            <% } %>
            <div class="media-right">
              <form action="/reactionroles/<%= reactionrole.guildId %>/delete" method="post">
                <button type="submit" name="id" value="<%= settings.indexOf(reactionrole) %>" class="button is-danger is-outlined is-rounded">Delete</button>
              </form>
            </div>
          </article>
        <% }) %>
      
      <br>
      <p class="subtitle">Create a new Reaction Role by doing the '/reactionrole add' command on discord, creation on dashboard is a WIP</p>
    </div>
  </div>
</section>
<script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
<script>
  const picker = document.querySelector('emoji-picker');
  fetch('/emojis/<%= guild.id %>').then(res => res.json()).then(emojis => {
    picker.customEmoji = emojis;
  });
  function togglePicker() {
    picker.style.display = picker.style.display == 'none' ? 'block' : 'none';
  }
  picker.addEventListener('emoji-click', event => {
    document.getElementsByName('emoji')[0].value = event.detail.unicode ?? event.detail.emoji.name;
  });
  function validateForm() {
    console.log('a')
    let i1 = document.forms["add"]["role"].value;
    let i2 = document.forms["add"]["channel"].value;
    let i3 = document.forms["add"]["message"].value;
  if (!i1 || !i2 || !i3) {
      alert("You must fill out every field!");
      return false;
    }
  }
</script>
<%- include("partials/footer") %>