<%- include("partials/header", { bot, user, path, title: `General | ${guild.name}` }) %>
<%
settings.forEach(async reactionrole => {
  reactionrole.roleName = guild.roles.cache.get(reactionrole.roleId) ? guild.roles.cache.get(reactionrole.roleId).name : 'Could not get role.';
})
%>

<section class="hero is-fullheight-with-navbar is-dark">
  <div class="hero-body" style="background-color: <%= bot.config.color %>">
    <div class="container">
      <% if (alert) { %>
        <div class="notification is-success">
          <%= alert %>
        </div>
      <% } %>
        <div class="level">
          <div class="level-item">
            <figure class="image is-128x128" style="margin-right: px;">
              <img class="is-rounded" src="<%= guild.icon ? `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}` : '/assets/images/placeholder.svg' %>">
            </figure>
          </div>
          <div class="level-item">
            <p class="title">
              <%= guild.name %>
            </p>
          </div>
          <div class="level-item">
            <div class="field is-grouped">
              <div class="control">
                <a href="/dashboard" class="button is-dark">Go Back</a>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs is-toggle is-toggle-rounded is-fullwidth is-large">
          <ul>
            <li>
              <a href='/dashboard/<%= guild.id %>/general'>
                General
              </a>
            </li>
            <li>
              <a href='/dashboard/<%= guild.id %>/tickets'>
                Tickets
              </a>
            </li>
            <li>
              <a href='/dashboard/<%= guild.id %>/logs'>
                Logs
              </a>
            </li>
            <li class="is-active">
              <a>
                Reaction Roles
              </a>
            </li>
            <li>
              <a href='/dashboard/<%= guild.id %>/admin'>
                Admin
              </a>
            </li>
          </ul>
        </div>
        
        <% 
        let count = -1
        settings.forEach(reactionrole => {
          count++;
        %>
          <article class="media">
            <figure class="media-left">
              <% if (!isNaN(reactionrole.emojiId)) { %>
                <p class="image is-64x64">
                  <img src="https://cdn.discordapp.com/emojis/<%= reactionrole.emojiId %>.webp">
                </p>
              <% } else { %>
                <p class="is-size-1">
                  <%= reactionrole.emojiId %>
                </p>
              <% } %>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>@ <%= reactionrole.roleName %> (<%= reactionrole.type %>)</strong>
                  <br>
                  <% if (!reactionrole.message) { %>
                    Message deleted. Delete this reaction role and create another.
                  <% } else { %>
                    <strong>Message by <%= reactionrole.message.author.tag %>:</strong>
                    <br>
                    <%= reactionrole.message.content %>
                  <% } %>
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-reply"></i></span>
                  </a>
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                  </a>
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                  </a>
                </div>
              </nav>
            </div>
            <% if (reactionrole.message) { %>
              <div class="media-right">
                <a class="button is-primary" href="<%= reactionrole.message.url %>">Go to message</a>
              </div>
            <% } %>
            <div class="media-right">
              <form action="/reactionroles/delete/<%= reactionrole.guildId %>/<%= count %>" method="post">
                <button type="submit" class="button is-danger">Delete</button>
              </form>
            </div>
          </article>
        <% }) %>
    </div>
  </div>
</section>

<%- include("partials/footer") %>