<%- include("partials/header", { bot, user, path, title: `Tickets | ${guild.name}` }) %>
<%- include("partials/header-dashboard", { alert, guild, selected: 'tickets' }) %>

        <div class="field">
          <label class="subtitle">Tickets</label>
          <label class="label subtitle">Toggles the ticket system</label>
          <div class="select" style="width: 100%;">
            <select name="tickets" value="<%= settings.tickets %>" placeholder="The ticket option" style="width: 100%;">
              <option value="false" <% if (settings.tickets === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
              <option value="buttons" <% if (settings.tickets === 'buttons') {%> selected <%} else {%> <%} %>>Buttons</option>
              <option value="reactions" <% if (settings.tickets === 'reactions') {%> selected <%} else {%> <%} %>>Reactions</option>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="subtitle">Log Channel</label>
          <label class="label subtitle">The channel where the bot puts ticket logs in</label>
          <div class="select" style="width: 100%;">
            <select name="ticketlogchannel" value="<%= settings.ticketlogchannel %>" placeholder="The ticket log channel" style="width: 100%;">
              <option value="false" <% if (settings.ticketlogchannel === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
              <% guild.channels.cache.forEach(channel => { %>
                <% if (channel.type != Djs.ChannelType.GuildText) return %>
                <option value="<%= channel.id %>" <% if (channel.id === settings.ticketlogchannel) {%> selected <%} else {%> <% } %> > <%= `# ${channel.name}` %></option>
              <% }) %>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="subtitle">Category</label>
          <label class="label subtitle">The category where the bot creates tickets in</label>
          <div class="select" style="width: 100%;">
            <select name="ticketcategory" value="<%= settings.ticketcategory %>" placeholder="The ticket category" style="width: 100%;">
              <option value="false" <% if (settings.ticketcategory === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
              <% guild.channels.cache.forEach(channel => { %>
                <% if (channel.type != Djs.ChannelType.GuildCategory) return %>
                <option value="<%= channel.id %>" <% if (channel.id === settings.ticketcategory) {%> selected <%} else {%> <% } %> > <%= `› ${channel.name}` %></option>
              <% }) %>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="subtitle">Mention</label>
          <label class="label subtitle">Pings the specified role every time a new ticket is created</label>
          <div class="select" style="width: 100%;">
            <select name="ticketmention" value="<%= settings.ticketmention %>" placeholder="The Role to mention" style="width: 100%;">
              <option value="false" <% if (settings.ticketmention === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
              <option value="here" <% if (settings.ticketmention === 'here') {%> selected <%} else {%> <%} %>>@ here</option>
              <option value="everyone" <% if (settings.ticketmention === 'everyone') {%> selected <%} else {%> <%} %>>@ everyone</option>
              <% guild.roles.cache.forEach(role => { %>
                <option value="<%= role.id %>" <% if (role.id === settings.ticketmention) {%> selected <%} else {%> <% } %> > <%= `@ ${role.name}` %></option>
              <% }) %>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="subtitle">Access Role</label>
          <label class="label subtitle">The role that can access tickets</label>
          <div class="select" style="width: 100%;">
            <select name="supportrole" value="<%= settings.supportrole %>" placeholder="The Support Role" style="width: 100%;">
              <option value="false" <% if (settings.supportrole === 'false') {%> selected <%} else {%> <%} %>>Disabled</option>
              <% guild.roles.cache.forEach(role => { %>
                <option value="<%= role.id %>" <% if (role.id === settings.supportrole) {%> selected <%} else {%> <% } %> > <%= `@ ${role.name}` %></option>
              <% }) %>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<%- include("partials/footer") %>